.header-box {
  background-image: url("../../assets/images/Image.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 432px 1050px 432px 159px;
}

.title-box {
  width: 567px;
}
